@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

@font-face{
	font-family: "Standard Blackletter";
	font-weight: 700;
	src: url("../fonts/standard-blackletter.otf") format("opentype");
}

.blackletter{
	font-family: "Standard Blackletter", serif;
	font-variant: normal;
	font-weight: 700;
}

/* bridgeheads */
[epub|type~="bridgehead"]{
	display: inline-block;
	font-style: italic;
	max-width: 60%;
	text-align: justify;
	text-indent: 0;
}
/* end bridgeheads */

blockquote header{
	margin-bottom: 1em;
}

blockquote header p{
	text-align: center;
	text-indent: 0;
	font-variant: small-caps;
	font-size: 110%;
}

#chapter-11 blockquote:nth-of-type(2) p{
	text-align: center;
	text-indent: 0;
	margin-bottom: 0.5em;
	margin-bottom: 0.5em;
	font-weight: bold;
	font-size: 110%;
}

#chapter-11 blockquote:nth-of-type(3) header p{
	text-align: center;
	text-indent: 0;
	font-variant: small-caps;
	margin-bottom: 0.5em;
}

#chapter-15 blockquote:first-of-type p{
	text-align: center;
	text-indent: 0;
}

#chapter-15 blockquote:first-of-type p:first-of-type{
	font-family: "Standard Blackletter";
	font-size: 150%;
}

#chapter-17 blockquote p:last-of-type{
	font-size: 90%;
}

/* Letter formatting */
[epub|type~="z3998:letter"] header{
	text-align: right;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:salutation"] + p,
[epub|type~="z3998:letter"] header + p{
	text-indent: 0;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-align: initial;
	text-indent: 0;
}

/* Song and verse styling */
[epub|type~="z3998:song"] p,
[epub|type~="z3998:poem"] p,
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:song"] p > span,
[epub|type~="z3998:poem"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:song"] p > span + br,
[epub|type~="z3998:poem"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

[epub|type~="z3998:song"] p + p,
[epub|type~="z3998:poem"] p + p,
[epub|type~="z3998:verse"] p + p{
	margin-top: 1em;
}


p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

p span.i2{
	padding-left: 3em;
	text-indent: -1em;
}
